.formBg {
  background-color: var(--cor-de-fundo2);
}

.form {
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  align-items: start;
  gap: 1rem;
}

.formContato {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.formTitle {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.formContent {
  font-size: 1rem;
  line-height: 1.5;
}

.formNome {
  /* position: relative; */
  padding-top: 2rem;
  width: 100%;
}

.formInput {
  padding-left: 16px;
  height: 56px;
  border-radius: 4px;
  border: none;
  border-bottom: solid 1px #c8c8c8;
  width: 100%;
  font-size: 16px;
  font-family: "Raleway";
  outline: none;
  width: calc(100% - 16px);
}

.formArea::placeholder {
  font-family: "Montserrat";
}

.formBtn {
  color: var(--cor-textoBtn);
  width: 165px;
  cursor: pointer;
  background-color: var(--cor-azul);
  padding: 1rem;
}

/*Tablet*/
@media (max-width: 768px) {
  .formImg {
    display: none;
  }

  .formTitle {
    font-size: 1.375rem;
  }
  .formContent {
    font-size: 1rem;
  }
}

/*Mobile*/
@media (max-width: 425px) {
}
